<h3><a class="btn btn-secondary" href=""><i class="fa fa-plus"></i> Create New</a> Employee List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.descrription}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.price}}</td>
            <td>
                <a href="/cart/update/"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/cart/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>